@use 'sass:color';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}

body {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
}

.title {
  text-align: center;
  margin-bottom: 2rem;
}

#calendar {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.5rem;
}

.month {
  display: grid;
  grid-template-columns: repeat(7, minmax(2rem, 1fr));
  grid-template-rows: repeat(6, 1fr);
  gap: 0;
}

.month-name {
  margin-left: 1rem;
  margin-bottom: 0.8rem;
}

.day {
  aspect-ratio: 1/1;
  border: 1px solid #dbdbdb;
  text-align: center;
}

.day:empty {
  border-color: transparent;
}

.button-group {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.btn, .input {
  font-size: inherit;
  font-family: inherit;
  padding: 0.5rem 0.8rem;
}

.input {
  max-width: 5em;
}

.form {
  text-align: center;
  margin: 1rem;
}

.actions {
  position: fixed;
  right: 1rem;
  top: 1rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    background-color: #242424;
  }

  .day {
    border-color: #505050;
  }
}

@media (orientation: landscape) {
  #calendar {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media print {
  $temp-color: rgb(82, 82, 255);
  
  * {
    color: $temp-color;
  }

  *:empty {
    border-color: transparent;
  }

  .print-hidden {
    display: none;
  }

  .actions {
    display: none;
  }

  body {
    padding: 2mm;
  }

  .title {
    margin-bottom: 1mm;
    font-weight: 400;
    font-size: 18px;
  }

  #calendar {
    gap: 1mm;
  }

  .month-name {
    font-size: 12px;
    margin-bottom: 3mm;
    font-weight: 400;
  }

  .month {
    gap: 0;
  }

  .day {
    color: $temp-color;
    border-color: color.scale($temp-color, $lightness: 75%);
    border-radius: 0;
    font-size: 8px;
    aspect-ratio: 1/1.05;
  }
}

@media print and (orientation: landscape) {
  .day {
    aspect-ratio: 1/0.9;
  }
}
